#jumby {
    background-image:url('../images/home/lib.jpg')
}
.pb {
    padding-bottom: 14px
}
.status {
   padding: 15px
}
.image-status {
    height: 30vh;
    width: 95%;
    margin-bottom: 10px;
}
#the-canvas {
    direction: ltr;
}
