<div>
    <div class="single-slider slider-boxed owl-carousel owl-no-dots d-xl-none ">
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">Social Media</h1>
                <p class="color-white opacity-80 mb-4">Worlds First Specialized Legal Social Network.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/pictures/13.jpg">
        </div>
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">E-Library</h1>
                <p class="color-white opacity-80 mb-4">Flexibility, Speed, Ease of Use.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/home/lib.jpg">
        </div>

        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">E- Chamber</h1>
                <p class="color-white opacity-80 mb-4">Featuring a Comprehensive Legal Directory of Lawyers Across the entire Globe.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/home/lady.jpg">
        </div>
    </div>
    <div id="jumby" class="jumbotron p-3 p-md-5 text-white rounded bg-dark d-none d-xl-block">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>
    <div class="m-2"><span class="h2">Blog</span><span class="float-right"><a>show all</a></span></div>
    <div class="row ">
        <div class="col-12 col-md-4 ">
            <div class="card card-style bg-18" data-card-height="175" style="height: 175px;">
                <div class="card-top">
                    <i class="fa fa-sun color-yellow1-dark fa-3x float-right mr-3 mt-3"></i>
                </div>
                <div class="card-bottom">
                    <p class="tag-body"><span class="bg-primary tags">Civil Law</span><span class="tags bg-secondary">Family Law</span></p>
                    <h1 class="color-white ml-3 mb-n1">Experts condemn violation of regulatory laws in Nigeria’s extractive industry</h1>
                    <p class="color-white opacity-60 ml-3">Jan, 17th 2019 | valentine Emmanuel</p>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </div>
        </div>  <div class="col-12 col-md-4 ">
            <div class="card card-style bg-18" data-card-height="175" style="height: 175px;">
                <div class="card-top">
                    <i class="fa fa-sun color-yellow1-dark fa-3x float-right mr-3 mt-3"></i>
                </div>
                <div class="card-bottom">
                    <p class="tag-body"><span class="bg-primary tags">Civil Law</span><span class="tags bg-secondary">Family Law</span></p>
                    <h1 class="color-white ml-3 mb-n1">Experts condemn violation of regulatory laws in Nigeria’s extractive industry</h1>
                    <p class="color-white opacity-60 ml-3">Jan, 17th 2019 | valentine Emmanuel</p>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="card card-style bg-18" data-card-height="175" style="height: 175px;">
                <div class="card-top">
                    <i class="fa fa-sun color-yellow1-dark fa-3x float-right mr-3 mt-3"></i>
                </div>
                <div class="card-bottom">
                    <p class="tag-body"><span class="bg-primary tags">Civil Law</span><span class="tags bg-secondary">Family Law</span></p>
                    <h1 class="color-white ml-3 mb-n1">Experts condemn violation of regulatory laws in Nigeria’s extractive industry</h1>
                    <p class="color-white opacity-60 ml-3">Jan, 17th 2019 | valentine Emmanuel</p>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </div>
        </div>

    </div>
    <div class="m-2"><span class="h2">Personality Of the Week</span></div>
    <div class="row justify-content-center">
        <div class="card card-style col-10">
            <div class="content">

                <div class="text-center mt-3">
                    <img class="rounded-l shadow-xl mb-4 preload-img" src="images/pictures/faces/1s.png" data-src="images/pictures/faces/1s.png" width="180">
                    <h1 class="font-35 font-700 mb-2">Enabled</h1>
                    <p class="mt-n3 mb-2 color-highlight">Company Executive Officer</p>
                    <p class="boxed-text-l">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt euismod nisl, in maximus urna tincidunt sit amet.
                    </p>
                    <a href="#" class="icon shadow-xl icon-m rounded-circle bg-facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icon shadow-xl icon-xl mr-2 ml-2 rounded-circle bg-phone"><i class="fa fa-phone"></i></a>
                    <a href="#" class="icon shadow-xl icon-m rounded-circle bg-twitter"><i class="fab fa-twitter"></i></a>
                </div>

            </div>
        </div>
    </div>
    <div class="card card-style">
        <div class="content mb-4">
            <h1 class="text-center mb-0">Care &amp; Quality</h1>
            <p class="text-center color-highlight font-11 mt-n1 pb-0">No stone left unturned, no aspect overlooked.</p>
            <p class="text-center font-20 mt-n2">
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
                <i class="fa fa-star color-yellow1-dark"></i>
            </p>
            <div class="single-slider slider-boxed owl-carousel owl-no-dots owl-loaded owl-drag">


                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-678px, 0px, 0px); transition: all 0.25s ease 0s; width: 2034px;">
                        <div class="owl-item cloned" style="width: 319px; margin-right: 20px;">
                            <h2 class="text-center font-300 line-height-xl content mb-0 mt-0">
                                The code is always great with any Enabled template, the customer support that wins me over always.
                            </h2>
                        </div><div class="owl-item cloned" style="width: 319px; margin-right: 20px;">
                            <h2 class="text-center font-300 line-height-xl content mb-0 mt-0">
                                The best support I have ever had, it's so good I purchased another theme. Highlighy Recommended.
                            </h2>
                        </div><div class="owl-item active" style="width: 319px; margin-right: 20px;">
                            <h2 class="text-center font-300 line-height-xl content mb-0 mt-0">
                                The code is always great with any Enabled template, the customer support that wins me over always.
                            </h2>
                        </div><div class="owl-item" style="width: 319px; margin-right: 20px;">
                            <h2 class="text-center font-300 line-height-xl content mb-0 mt-0">
                                The best support I have ever had, it's so good I purchased another theme. Highlighy Recommended.
                            </h2>
                        </div><div class="owl-item cloned" style="width: 319px; margin-right: 20px;">
                            <h2 class="text-center font-300 line-height-xl content mb-0 mt-0">
                                The code is always great with any Enabled template, the customer support that wins me over always.
                            </h2>
                        </div><div class="owl-item cloned" style="width: 319px; margin-right: 20px;">
                            <h2 class="text-center font-300 line-height-xl content mb-0 mt-0">
                                The best support I have ever had, it's so good I purchased another theme. Highlighy Recommended.
                            </h2>
                        </div>
                    </div>
                </div><div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
            </div>
            <a href="#" class="btn btn-m btn-center-l text-uppercase font-900 bg-red2-dark rounded-sm shadow-xl mt-4 mb-0">More Testimonials</a>
        </div>
    </div>
</div>
