<div>
    <div class="single-slider slider-boxed owl-carousel owl-no-dots d-xl-none ">
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">Social Media</h1>
                <p class="color-white opacity-80 mb-4">Worlds First Specialized Legal Social Network.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/pictures/13.jpg">
        </div>
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">E-Library</h1>
                <p class="color-white opacity-80 mb-4">Flexibility, Speed, Ease of Use.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/home/lib.jpg">
        </div>

        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">E- Chamber</h1>
                <p class="color-white opacity-80 mb-4">Featuring a Comprehensive Legal Directory of Lawyers Across the entire Globe.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/home/lady.jpg">
        </div>
    </div>
    <div id="jumby" class="jumbotron p-3 p-md-5 text-white rounded bg-dark d-none d-xl-block">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>
    <div class="m-2"><span class="h2">Blog</span><span class="float-right"><a>show all</a></span></div>
    <div class="row ">
        <div class="col-12 col-md-4 ">
            <div class="card card-style bg-18" data-card-height="175" style="height: 175px;">
                <div class="card-top">
                    <i class="fa fa-sun color-yellow1-dark fa-3x float-right mr-3 mt-3"></i>
                </div>
                <div class="card-bottom">
                    <p class="tag-body"><span class="bg-primary tags">Civil Law</span><span class="tags bg-secondary">Family Law</span></p>
                    <h1 class="color-white ml-3 mb-n1">Experts condemn violation of regulatory laws in Nigeria’s extractive industry</h1>
                    <p class="color-white opacity-60 ml-3">Jan, 17th 2019 | valentine Emmanuel</p>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </div>
        </div>  <div class="col-12 col-md-4 ">
            <div class="card card-style bg-18" data-card-height="175" style="height: 175px;">
                <div class="card-top">
                    <i class="fa fa-sun color-yellow1-dark fa-3x float-right mr-3 mt-3"></i>
                </div>
                <div class="card-bottom">
                    <p class="tag-body"><span class="bg-primary tags">Civil Law</span><span class="tags bg-secondary">Family Law</span></p>
                    <h1 class="color-white ml-3 mb-n1">Experts condemn violation of regulatory laws in Nigeria’s extractive industry</h1>
                    <p class="color-white opacity-60 ml-3">Jan, 17th 2019 | valentine Emmanuel</p>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="card card-style bg-18" data-card-height="175" style="height: 175px;">
                <div class="card-top">
                    <i class="fa fa-sun color-yellow1-dark fa-3x float-right mr-3 mt-3"></i>
                </div>
                <div class="card-bottom">
                    <p class="tag-body"><span class="bg-primary tags">Civil Law</span><span class="tags bg-secondary">Family Law</span></p>
                    <h1 class="color-white ml-3 mb-n1">Experts condemn violation of regulatory laws in Nigeria’s extractive industry</h1>
                    <p class="color-white opacity-60 ml-3">Jan, 17th 2019 | valentine Emmanuel</p>
                </div>
                <div class="card-overlay bg-black opacity-70"></div>
            </div>
        </div>
       
    </div>
    <div class="m-2"><span class="h2">Personality Of the Week</span></div>
    <div class="row">

    </div>

</div>
