<div>
    <div class="single-slider slider-boxed owl-carousel owl-no-dots">
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">StickyMobile</h1>
                <p class="color-white opacity-80 mb-4">The Menu Everyone Requested.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/pictures/13.jpg">
        </div>
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">E-Library</h1>
                <p class="color-white opacity-80 mb-4">Flexibility, Speed, Ease of Use.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/home/lib.jpg">
        </div>
    
        <div class="card rounded-m shadow-l">
            <div class="card-bottom text-center mb-0">
                <h1 class="color-white font-700 mb-n1">E- Chamber</h1>
                <p class="color-white opacity-80 mb-4">Mobile Website, App or PWA Ready.</p>
            </div>
            <div class="card-overlay bg-gradient"></div>
            <img class="img-fluid" src="images/home/lady.jpg">
        </div>
</div>
</div>