<div>
    <div class="search-box search-header bg-theme card-style mr-3 ml-3">
        <i class="fa fa-search"></i>
        <input type="text" class="border-0" placeholder="What are you looking for? " data-search="">
        <a href="#" class="disabled"><i class="fa fa-times-circle color-red2-dark"></i></a>
    </div>
    <div class="row text-center mb-0">
        <a ui-sref='books' class="col-6 pr-0">
            <div class="card card-style mr-2 mb-3">
                <i class="fa fa-book color-magenta2-dark fa-3x mt-5"></i>
                <h1 class="pt-4">BOOKS</h1>
                <p class="font-11 opacity-50 mt-n2">The very best legal writings</p>
                <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
            </div>
        </a>
        <a href="splash.html" class="col-6 pl-0">
            <div class="card card-style ml-2 mb-3">
                <i class="fa fa-balance-scale color-highlight fa-3x mt-5"></i>
                <h1 class="pt-4">STATUTES</h1>
                <p class="font-11 opacity-50 mt-n2">Enactments and Rules</p>
                <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
            </div>
        </a>
        <a href="media.html" class="col-6 pr-0">
            <div class="card card-style mr-2">
                <i class="fa fa-gavel color-green1-dark fa-3x mt-5"></i>
                <h1 class="pt-4">CASES</h1>
                <p class="font-11 opacity-50 mt-n2">Holdings of Courts</p>
                <p class="mb-0 pb-0 font-10 opacity-40">Tap to View</p>
            </div>
        </a>
        <a class="col-6 pl-0" href="#" data-menu="menu-listed-menus">
            <div class="card card-style ml-2">
                <i class="fa fa-star color-yellow1-dark fa-3x mt-5"></i>
                <h1 class="pt-4">FAVOURITES</h1>
                <p class="font-11 opacity-50 mt-n2">Saves and Most Viewed </p>
                <p class="mb-0 pb-0 font-10 opacity-40">Tap to Expand</p>
            </div>
        </a>

    </div>
</div>