<!DOCTYPE HTML>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Lawbook : author Page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="scss/main.css">
    <link href="css/material.min.css" rel="stylesheet" />
    <link href="styles/app.css" rel="stylesheet" />
    <link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
    <link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
    <script type="text/javascript" src="js/jquery.js"></script>

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/localforage.js"></script>
    <script type="text/javascript" src="js/angular-localForage.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/blogControllers.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
    <script src="js/material.min.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/pwa.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</head>

<body ng-controller="createCtrl" class="theme-light" data-background="none" data-highlight="red2">

    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

    <div id="page">

        <!-- header and footer bar go here-->
        <my-header></my-header>
        <my-footer active="blog">

        </my-footer>

        <my-sideBar></my-sideBar>

        <!--start of page content, add your stuff here-->
        <div class="page-content header-clear-small mt-n2">
            <div id="blog-list" class="container-fluid">

                <div class="card card-style ml-0 mr-0">
                    <div class="content mb-0">
                        <h3>Create Blog</h3>
                        <p>
                            fill the below details to create a blog post
                        </p>

                        <div class="input-style input-style-2 has-icon input-required">
                            <i class="input-icon fa fa-book"></i>
                            <span class="color-highlight">Title</span>
                            <em>(required)</em>
                            <input ng-model="article.title" class="form-control" type="text" min="5" maxlength="100">
                        </div>
                        <div class="file-data">
                            <input type="file" class="upload-file bg-highlight shadow-s rounded-s " file-input="landPermit" id="myFileField" accept="image/*">
                            <p class="upload-file-text color-white">Upload Image</p>
                            <img src="images/empty.png">
                        </div>

                        <p>Content</p>
                        <div class="row">

                            <div class="col" ng-repeat="content in article.content track by $index">
                                <!-- Deletable Chip -->
                                <span class="{{'mdl-chip mdl-chip--deletable' }}">
                                    <span class="mdl-chip__text">{{content.data}}</span>
                                    <button type="button" class="mdl-chip__action">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </span>
                            </div>

                            <div class="col">

                                <button ng-click="openContent()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                        <p>Tags</p>
                        <div class="row">

                            <div class="col" ng-repeat="tag in article.tags track by $index">
                                <!-- Deletable Chip -->
                                <span class="{{'mdl-chip mdl-chip--deletable' + tag.class}}">
                                    <span class="mdl-chip__text">{{tag.title}}</span>
                                    <button type="button" class="mdl-chip__action">
                                        <i class="material-icons">cancel</i>
                                    </button>
                                </span>
                            </div>

                            <div class="col">

                                <button ng-click="openTag()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>

                        <a class="btn btn-3d btn-m btn-full mb-3 rounded-0 text-uppercase font-900 shadow-s border-green1-dark bg-green1-light">Upload</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="openTag" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="320" data-menu-effect="menu-over" style="height: 320px; display: block;">
            <div class="content mb-0">
                <h3 class="text-uppercase font-900 mb-0">Enter Tag</h3>
                <p class="font-11  mt-n1 mb-0">
                    Take note! The class determines the color of the tag. A Tag title should be a
                    single word with 14 characters at most.
                </p>

                <div class="input-style has-icon input-style-1 input-required">
                    <i class="input-icon fa fa-book font-11"></i>
                    <span> Title</span>
                    <em>(required)</em>
                    <input ng-model="tag.title" required type="text" min="2" placeholder="Tag Title" maxlength="14">
                </div>
                <div class="input-style input-style-2 input-required mt-1">
                    <span class="">Select a Class</span>
                    <em>(required)</em>
                    <select ng-model="tag.class" class="form-control">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        <option value="bg-primary">Blue</option>
                        <option value="bg-info ">Yellow</option>
                        <option value="bg-danger">Red</option>
                        <option value="bg-default">Gray</option>
                    </select>
                </div>

                <a ng-click="addTag()" class="btn btn-full btn-m shadow-l rounded-s text-uppercase font-900 bg-green1-dark mt-4">ADD</a>
            </div>
        </div>
        <div id="openContent" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="320" data-menu-effect="menu-over" style="height: 320px; display: block;">
            <div class="content mb-0">
                <h3 class="text-uppercase font-900 mb-0">Add Content</h3>
               
                <div class="input-style input-style-2 input-required mt-1">
                    <span class="">Select a Type</span>
                    <em>(required)</em>
                    <select ng-model="content.type" class="form-control">
                        <option value="default" disabled="" selected="">Select a Value</option>
                        <option value="para">Paragarph</option>
                        <option value="quote">Quote</option>
                        
                    </select>
                </div>


                <div class="input-style has-icon input-style-1 input-required">
                   
                    <span> Title</span>
                    <em>(required)</em>
                    <textarea rows="3" ng-model="content.data" required type="text"  placeholder="{{'enter ' + content.type }}" ></textarea>
                </div>
                <a ng-click="addContent()" class="btn btn-full btn-m shadow-l rounded-s text-uppercase font-900 bg-green1-dark mt-4">ADD</a>
            </div>
        </div>

        <!--end of div id page-->
    </div>

</body>
</html>
