<!DOCTYPE HTML>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Lawbook : Content Page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="scss/blog.css">
    <link href="css/style.css" rel="stylesheet" />
    <link href="styles/app.css" rel="stylesheet" />
    <link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
    <link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
    <script type="text/javascript" src="js/jquery.js"></script>

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/localforage.js"></script>
    <script type="text/javascript" src="js/angular-localForage.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/blogControllers.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/pwa.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>

</head>

<body ng-controller="contentCtrl" class="theme-light" data-background="none" data-highlight="red2">

    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

    <div id="page">

        <!-- header and footer bar go here-->
        <my-header></my-header>
        <my-sidebar></my-sidebar>
        <my-footer active="blog">

        </my-footer>

        <!--start of page content, add your stuff here-->
        <div class="page-content header-clear-medium">

            <main class="blog-post-single">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 blog-post-wrapper">
                            <div class="post-header wow fadeInUp">
                                <img ng-src="{{content.image}}" alt="blog post" class="post-featured-image">
                                <p class="post-date">
                                    {{content.createdDate | date: small}}
                                    <span ng-click="removeFavorite()" ng-show="liked" style="color:red" class="fa fa-heart float-right"></span>
                                    <span ng-click="addFavorite()" ng-hide="liked" class="fa fa-heart float-right"></span>
                                </p>

                            </div>
                            <div class="post-content wow fadeInUp">
                                <h4>{{content.title}}</h4>
                                <div id="content" ng-repeat="blog in content.content">
                                    <p ng-if="blog.type == 'para'">{{blog.data}}</p>
                                    <h5 ng-if="blog.type == 'heading'">{{blog.data}}</h5>
                                    <blockquote ng-if="blog.type == 'quote'" class="blockquote wow fadeInUp">
                                        <p>{{blog.data}}</p>
                                    </blockquote>
                                </div>

                            </div>


                            <div class="comment-section wow fadeInUp">
                                <h5 class="section-title">Leave a comment</h5>
                                <form action="POST" class="oleez-comment-form">

                                    <div class="row">
                                        <div class="form-group col-12">
                                            <label for="message">*Message</label>
                                            <textarea name="message" id="message" rows="4" class="oleez-textarea" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-submit">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sidebar-widget wow fadeInUp">
                                <h5 class="widget-title">Tags</h5>
                                <div class="widget-content">
                                    <p class="tag-body"><span ng-repeat="tag in content.tags" class="{{tag.class}}">{{tag.title}}</span></p>
                                </div>
                            </div>
                            <div class="sidebar-widget wow fadeInUp">
                                <h5 class="widget-title">Share</h5>
                                <div class="widget-content">
                                    <nav class="row">
                                        <div class="col-3">
                                            <div class="logo-image facebook">
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="logo-image twitter">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="logo-image linkedin">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="logo-image whatsapp">
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                            <div class="sidebar-widget wow fadeInUp">
                                <h5 class="widget-title">Related Posts</h5>
                                <div class="widget-content">
                                    <div class="row">
                                        <div ng-click="gotoArticle(article)" ng-repeat="article in articles" class="col-12 muggy ">
                                            <div class="card card-style  " data-card-height="175" style="height: 175px; background-image:url({{article.image}})">
                                                <div class="card-top pt-2 pb-n1 ">
                                                    <p class="tag-body muggy"><span ng-repeat="tag in article.tags" class="{{tag.class}}">{{tag.title}}</span></p>
                                                </div>
                                                <div class="card-bottom">

                                                    <p class="color-white ml-3 muggy">{{article.title}}</p>
                                                    <p class="color-white opacity-60 ml-3">{{article.createdDate | date:short}} | {{article.author}}</p>
                                                </div>
                                                <div class="card-overlay bg-black opacity-50"></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget wow fadeInUp">
                                <h5 class="widget-title">Categories</h5>
                                <div class="widget-content">
                                    <ul class="category-list">
                                        <li><a href="#!">Civil Law</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


        </div>
        <div id="toast-2" class="toast toast-tiny toast-top bg-red2-dark" data-delay="3000" data-autohide="true"><i class="fa fa-times mr-3"></i>{{errMsg}}</div>
        <div id="toast-3" class="toast toast-tiny toast-top bg-green1-dark" data-delay="3000" data-autohide="true"><i class="fa fa-check mr-3"></i>Action Successfully</div>
        <div id="toast-1" class="toast toast-tiny toast-top bg-blue2-dark fade hide" data-delay="2000" data-autohide="true"><i class="fa fa-sync fa-spin mr-3"></i>Processing...</div>
        <!--end of page content, off canvas elements here-->
        <!-- All Menus, Action Sheets, Modals, Notifications, Toasts get Placed outside the <div class="page-content"> -->
    
    </div>



</body>
</html>
