#jumbotron{
    background-image: url('../images/home/lady.jpg')
}
.tags {
    margin: 8px;
    padding: 4px;
    color: white;
}
.tag-body {
    margin-bottom: -2px
}
.item {
    margin-left: 15px;
    margin-right: 15px;
}
.logo-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: contain
}
.facebook {
    background-image: url('../images/social/facebook.png');
}
.twitter {
    background-image: url('../images/social/twitter.png');
}
.linkedin {
    background-image: url('../images/social/linked.png');
}
.whatsapp {
    background-image: url('../images/social/what.png');
}
.muggy {
    line-height:24px
}
.profileImg {
    width: 60px;
    height: 60px;
}
.myborder{
    border:1px solid black
}
