<!DOCTYPE HTML>
<html lang="en" ng-app="app" ng-controller="wallCtrl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Lawbook :  {{user.username}} page</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="scss/social.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link href="styles/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="scss/splide.min.css">
    <link rel="manifest" href="_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
    <link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/localforage.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/splide.min.js"></script>
    <script type="text/javascript" src="js/localforage.js"></script>
    <script type="text/javascript" src="js/angular-localForage.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/socialControllers.js"></script>
    <script type="text/javascript" src="js/accountsController.js"></script>
    <script type="text/javascript" src="js/service.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/pwa.js"></script>

</head>

<body class="theme-light" data-background="none" data-highlight="red2">

    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

    <div id="page">

        <!-- header and footer bar go here-->
        <my-header active="social"></my-header>
        <my-footer active="social"></my-footer>

        <!--start of page content, add your stuff here-->
        <div class="page-content header-clear-small">
            <div id="mobile" class="d-block d-md-none">
                <div class="search-box search-header bg-theme card-style mr-3 ml-3">
                    <i class="fa fa-search"></i>
                    <input type="search" autocomplete="on" value="" class="border-0" placeholder="What are you looking for? " data-search="">
                    <a href="#" class="disabled"><i class="fa fa-times-circle color-red2-dark"></i></a>
                </div>
                <div class="card-style ml-1 mr-1 pl-n1 pr-n1 mt-n2  card pt-2 pb-2 pt-md-3">
                    <div class="content mt-n1 mb-n1 row ml-n1 mr-n1">
                        <div class="col-md-1 col-2">
                            <img ng-src="{{user.dp}}" class="rounded-circle  profile-pics-desktop d-none d-md-block" />
                            <img ng-src="{{user.dp}}" class="rounded-circle mt-1 profile-pics-mobile d-md-none" />
                        </div>
                        <div class="col-md-10 col-8 mr-n2">
                            <textarea ng-model="text" placeholder="write post here" rows="3" class="form-control rounded-l"  id="post"></textarea>
                        </div>
                        <div ng-click="uploadPost()" class="col-md-1 col-2 mt-n2">
                            <span class="fa fa-images fa-3x d-none d-md-block mt-2 mb-n2"></span><br />
                            <span class="fa fa-images fa-2x d-md-none mt-n3"></span>
                            <small class="d-none d-md-block mt-n3">Pick Image</small>
                        </div>
                    </div>
                </div>

                <div class="card card-style ml-1 mr-1 mt-n2">
                    <div class="content mt-0">
                        <div class="row">
                            <div class="col-6 font-800">Suggested Contact</div>
                            <div class="col-6 "><a class="float-right" href="#">see more</a></div>
                        </div>
                        <div class="splide mt-n4 mb-n1 " id="suggested__mobile">
                            <div class="splide__track">
                                <div class=" splide__list">
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>

                        <div id="post">

                        </div>
                    </div>
                </div>
                <div class="card card-style ml-1 mr-1 mt-n2">
                    <div class="content mt-0">
                        <div class="row">
                            <div class="col-6 font-800">Request</div>
                            <div class="col-6 "><a class="float-right" href="#">see more</a></div>
                        </div>
                        <div class="splide mt-n4 mb-n1 " id="request__mobile">
                            <div class="splide__track">
                                <div class=" splide__list">
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class=" splide__slide ">
                                        <div class="row mb-n3">
                                            <div class="col-5">
                                                <img class="rounded-circle profileImg" src="images/pictures/0.jpg" />
                                            </div>
                                            <div class="col-7">
                                                <p class="suggest_name mb-0">INk Smith</p>
                                                <p class="suggest_job mb-0">CEO at Landy</p>
                                                <p class="suggest_friends mb-0">22 mutual contacts</p>
                                                <div class="row">
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-success rounded-circle color-white">
                                                            <span class="fa fa-check"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button style="height:50px; width: 50px"
                                                                class="btn btn-danger rounded-circle color-white">
                                                            <span class="fa fa-times"></span>
                                                        </button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>

                        <div id="post">

                        </div>
                    </div>
                </div>
           <div ng-repeat="post in posts" class="card card-style">
<div class="content p-n1 pb-n2">
    <div class="row">
        <div class="col-2">
            <img class="rounded-circle profileImg-sm" src="images/pictures/0.jpg" />
        </div>
        <div class="col-8 postw">
            <p class="firstRow"><strong>Valentine Emmanuel</strong></p>
            <p class="twoRow">criminal law</p>
            <p class="twoRow"><i>10 mins ago</i></p>
        </div>
        <div class="col-1">
<span class="fa fa-caret-down"></span>
        </div>
    </div>
<div class="row pl-2 pr-2 line-height-m">
    <p>
        {{post.post}}
    </p>
</div>
<div class="row" >
    <div class="col-1" style="font-size: 23px">
        <i class="fa fa-thumbs-up"></i>
    </div>
    <div class="col-1" style="font-size: 23px">
        <i class="fa fa-comment"></i>
    </div>
    
    <div class="col"><span class="float-right">32 likes &nbsp;&nbsp; 4 comments</span></div>
</div>

</div>
           </div>
            </div>
            <div id="desktop" class="d-none d-md-block mt-n5">
                <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
                    <!-- The Grid -->
                    <div class="w3-row">
                        <!-- Left Column -->
                        <div class="w3-col m3">
                            <!-- Profile -->
                            <div class="card card-style">
                                <div class="content">
                                    <h4 class="w3-center">Valike23</h4>
                                    <p class="w3-center"><img src="images/pictures/0.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                                    <hr>
                                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
                                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
                                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
                                </div>
                            </div>
                            <br>

                            <!-- Accordion -->
                            <div class="card card-style">
                                <div class="content">
                                    <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                                    <div id="Demo1" class="w3-hide w3-container">
                                        <p>Some text..</p>
                                    </div>
                                    <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
                                    <div id="Demo2" class="w3-hide w3-container">
                                        <p>Some other text..</p>
                                    </div>
                                    <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
                                    <div id="Demo3" class="w3-hide w3-container">
                                        <div class="w3-row-padding">
                                            <br>
                                            <div class="w3-half">
                                                <img src="images/user.jpg" style="width:100%" class="w3-margin-bottom">
                                            </div>
                                            <div class="w3-half">
                                                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                            </div>
                                            <div class="w3-half">
                                                <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
                                            </div>
                                            <div class="w3-half">
                                                <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
                                            </div>
                                            <div class="w3-half">
                                                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                            </div>
                                            <div class="w3-half">
                                                <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!-- Interests -->
                            <div class="card card-style w3-hide-small">
                                <div class="content">
                                    <p>Interests</p>
                                    <p>
                                        <span class="w3-tag w3-small w3-theme-d5">News</span>
                                        <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                                        <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                                        <span class="w3-tag w3-small w3-theme-d2">Games</span>
                                        <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                                        <span class="w3-tag w3-small w3-theme">Games</span>
                                        <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                                        <span class="w3-tag w3-small w3-theme-l2">Food</span>
                                        <span class="w3-tag w3-small w3-theme-l3">Design</span>
                                        <span class="w3-tag w3-small w3-theme-l4">Art</span>
                                        <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                                    </p>
                                </div>
                            </div>
                            <br>

                            <!-- Alert Box -->
                            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                                    <i class="fa fa-remove"></i>
                                </span>
                                <p><strong>Hey!</strong></p>
                                <p>People are looking at your profile. Find out who.</p>
                            </div>

                            <!-- End Left Column -->
                        </div>

                        <!-- Middle Column -->
                        <div class="w3-col m7">

                            <div class="w3-row-padding">
                                <div class="w3-col m12">
                                    <div class="card card-style">
                                        <div class="content w3-padding">
                                            <h6 class="w3-opacity">Lawbook social Page</h6>
                                            <p contenteditable="true" class="w3-border w3-padding rounded-m">Status: Feeling Blue</p>
                                            <button type="button" class="w3-button bg-info color-white"><i class="fa fa-edit"></i>  Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-style w3-margin">
                                <div class="content   ">

                                    <img src="images/user.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height:60px">
                                    <span class="w3-right w3-opacity">1 min</span>
                                    <h4>John Doe</h4>
                                    <hr class="w3-clear">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <div class="w3-row-padding" style="margin:0 -16px">
                                        <div class="w3-half">
                                            <img src="images/pictures_vertical/bg4.jpg" style="width:100%; height: 200px" alt="Northern Lights" class="w3-margin-bottom">
                                        </div>
                                        <div class="w3-half">
                                            <img src="images/pictures_vertical/bg5.jpg" style="width:100%; height:200px" alt="Nature" class="w3-margin-bottom">
                                        </div>
                                    </div>
                                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
                                </div>
                            </div>
                            <div class="card card-style   w3-margin">


                                <div class="content">

                                    <img src="images/pictures/faces/1s.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                    <span class="w3-right w3-opacity">16 min</span>
                                    <h4>Jane Doe</h4>
                                    <hr class="w3-clear">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
                                </div>
                            </div>
                            <div class="card card-style">
                                <div class="content   w3-margin">

                                    <img src="images/pictures/faces/2s.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                                    <span class="w3-right w3-opacity">32 min</span>
                                    <h4>Angie Jane</h4>
                                    <hr class="w3-clear">
                                    <p>Have you seen this?</p>
                                    <img src="images/pictures_vertical/bg3.jpg" style="width:100%; height:300px" class="w3-margin-bottom">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
                                </div>

                            </div>

                            <!-- End Middle Column -->
                        </div>

                        <!-- Right Column -->
                        <div class="w3-col m2">
                            <div class="w3-card w3-round  w3-center">
                                <div class="w3-container">
                                    <p>Upcoming Events:</p>
                                    <img src="images/pictures_vertical/bg2.jpg" alt="Forest" style="width:100%; height:150px">
                                    <p><strong>Holiday</strong></p>
                                    <p>Friday 15:00</p>
                                    <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                                </div>
                            </div>
                            <br>

                            <div class="w3-card rounded-s   w3-center">
                                <div class="w3-container">
                                    <p>Friend Request</p>
                                    <img src="images/pictures/faces/1s.png" alt="Avatar" style="width:50%; height:100px"><br>
                                    <span>Jane Doe</span>
                                    <div class="w3-row w3-opacity">
                                        <div class="w3-half">
                                            <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                                        </div>
                                        <div class="w3-half">
                                            <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="w3-card w3-round w3-padding-16 w3-center">
                                <p>ADS</p>
                            </div>
                            <br>

                            <div class="w3-card w3-round w3-padding-32 w3-center">
                                <p><i class="fa fa-bug w3-xxlarge"></i></p>
                            </div>

                            <!-- End Right Column -->
                        </div>

                        <!-- End Grid -->
                    </div>

                    <!-- End Page Container -->
                </div>
            </div>
        </div>


       <div id="toast-1" class="toast toast-tiny toast-top bg-blue2-dark" data-delay="3000" data-autohide="false"><i class="fa fa-sync fa-spin mr-3"></i>Uploading...</div>

        <div id="toast-4" class="toast toast-tiny toast-top bg-red2-dark" data-delay="5000" data-autohide="true"><i class="fa fa-times mr-3"></i>Error Occured</div>
        <div id="toast-5" class="toast toast-tiny toast-bottom bg-blue2-dark" data-delay="3000" data-autohide="true"><i class="fa fa-sync fa-spin mr-3"></i>Processing...</div>
        <div ng-show="retrieve" id="toast-8" class="toast toast-tiny toast-bottom bg-blue2-dark" data-delay="3000" data-autohide="false"><i class="fa fa-sync fa-spin mr-3"></i>Retrieving...</div>
        <!-- Install instructions for iOS -->
     
        <!--end of div id page-->
    </div>

    <my-sideBar></my-sideBar>

</body>
</html>
